@mixin gradient--back {
  background: linear-gradient(90deg, $persia-indigo 0%, $purple-heart 100%);
}

@mixin shadow--modal-card {
  box-shadow: $card-shadow;
}

@mixin font--segoe($size, $line_height, $weight, $color) {
  font-weight: $weight;
  font-size: $size;
  line-height: $line_height;
  font-family: $font--segoe;
  color: $color;
}

@mixin font--whitney($size, $line_height, $weight, $color) {
  font-weight: $weight;
  font-size: $size;
  line-height: $line_height;
  font-family: $font--whitney;
  color: $color;
}

@mixin retina {
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    @content;
  }
}

//   @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
//   background-image: url("../img/advantage-leaf@2x.png");
// }

// < 1200
@mixin viewport--xl {
  @media (max-width: $viewport--xl - 1) {
    @content;
  }
}

// < 1024
@mixin viewport--lg-1 {
  @media (max-width: $viewport--lg-1 - 1) {
    @content;
  }
}

// < 992
@mixin viewport--lg {
  @media (max-width: $viewport--lg - 1) {
    @content;
  }
}

// < 768
@mixin viewport--md {
  @media (max-width: $viewport--md - 1) {
    @content;
  }
}

// < 576
@mixin viewport--sm {
  @media (max-width: $viewport--sm - 1) {
    @content;
  }
}


@mixin button-border {
  border: 1px solid transparent;
  border-radius: $border-radius--button;
  outline: none;
}

@mixin button-hover {
  border: 1px solid $white;
}

@mixin button-focus {
  border: 1px solid $white;
}
