//--------------------------------- Viewports
$viewport--xm: 320px;
$viewport--sm: 576px;
$viewport--md: 768px;
$viewport--lg: 992px;
$viewport--lg-1: 1024px;
$viewport--xl: 1200px;
$padding--form: 50px;
$container-max-width: 790px;

//--------------------------------- Retina
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// -------------------------- Typography
$font--segoe: "Futura PT", "Arial", sans-serif;

// -------------------------- Fonts
$acadia: #302f2d;
$white: #ffffff;

// -------------------------- Borders
$whisper: #e6e6e6;

// -------------------------- Background

// -------------------------- Modal

// -------------------------- Buttons
$сinnabar: #e65639;

// -------------------------- Check Box
$concrete: #d0cfcc;

// -------------------------- Interactive
$common-duration: 0.3s;
$opacity--active: 0.7;
// .button:hover,
// .button:focus,
// .button:active
